<%#= render :partial => 'spree/admin/shared/configuration_menu' %>
<%= render :partial => 'spree/admin/shared/promotions_group_sub_menu' if @user.nil?%>

<h1><%= t("listing_store_credits") %></h1>
<div align="right"><%= link_to t("admin.user.give_store_credit"), new_admin_user_store_credit_path(@user) unless @user.nil?%></div>
<table class="index">
  <thead>
    <tr>
      <th><%= sort_link @q, :user_email, "User" %></th>
      <th><%= sort_link @q, :amount, t("amount") %></th>
      <th><%= sort_link @q, :remaining_amount, t("remaining_amount") %></th>
      <th><%= sort_link @q, :valid_to, t("valid_to") %></th>
      <th><%= sort_link @q, :created_at, t("created") %></th>
      <th><%= sort_link @q, :updated_at, t("updated") %></th>
      <th><%= sort_link @q, :reason, t("reason") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @store_credits.each do |store_credit|%>
      <tr id="<%= dom_id store_credit %>">
        <td><%= link_to store_credit.user.email, admin_user_url(store_credit.user) if store_credit.user.present? %></td>
        <td><%= number_to_currency store_credit.amount %></td>
        <td><%= number_to_currency store_credit.remaining_amount %></td>
        <td><%= store_credit.valid_to.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= store_credit.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= store_credit.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= store_credit.reason %></td>
        <td class="actions">
          <% if store_credit.remaining_amount > 0 %>
            <% if store_credit.amount == store_credit.remaining_amount %>
              <%= link_to_with_icon('edit', t(:edit), edit_admin_user_store_credit_path(store_credit.user.id,store_credit.id)) %> &nbsp;
            <% else %>
              <%= t(:was_partially_used) %>
            <% end %>
            <%= link_to_delete store_credit %>
          <% else %>
            <%= t(:was_fully_used) %>
          <% end %>
      </tr>
    <% end %>
    <% if @store_credits.empty? %>
      <tr><td colspan="4"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>

<%= paginate @store_credits %>

<%= render :partial => 'spree/admin/users/user_tabs', :locals => { :user => @user} unless @user.nil? %>

